.slide1691-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.slide1691-slide1691 {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(112, 112, 112, 1);
}
.slide1691-link {
  display: contents;
}
.slide1691-r1 {
  top: 238px;
  left: 618px;
  width: 178px;
  height: 103px;
  position: absolute;
}
.slide1691-link1 {
  display: contents;
}
.slide1691-r2 {
  top: 553px;
  left: 610px;
  width: 178px;
  height: 103px;
  position: absolute;
}
.slide1691-link2 {
  display: contents;
}
.slide1691-r3 {
  top: 803px;
  left: 610px;
  width: 178px;
  height: 103px;
  position: absolute;
}
.slide1691-text {
  top: 150px;
  left: 732px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: JejuGothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slide1691-text02 {
  top: 702px;
  left: 732px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: JejuGothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slide1691-text04 {
  top: 252px;
  left: 832px;
  color: rgba(255, 255, 255, 1);
  width: 177px;
  height: auto;
  position: absolute;
  font-size: 83.93199157714844px;
  font-style: Regular;
  text-align: left;
  font-family: Jomhuria;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slide1691-link3 {
  display: contents;
}
.slide1691-oip1 {
  top: 373px;
  left: 625px;
  width: 163px;
  height: 145px;
  position: absolute;
  border-radius: 13px;
}
.slide1691-text06 {
  top: 394px;
  left: 831px;
  color: rgba(255, 255, 255, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 83.93199157714844px;
  font-style: Regular;
  text-align: left;
  font-family: Jomhuria;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slide1691-text08 {
  top: 563px;
  left: 836px;
  color: rgba(255, 255, 255, 1);
  width: 199px;
  height: auto;
  position: absolute;
  font-size: 83.93199157714844px;
  font-style: Regular;
  text-align: left;
  font-family: Jomhuria;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slide1691-text10 {
  top: 813px;
  left: 839px;
  color: rgba(255, 255, 255, 1);
  width: 199px;
  height: auto;
  position: absolute;
  font-size: 83.93199157714844px;
  font-style: Regular;
  text-align: left;
  font-family: Jomhuria;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
